@import '../../styles/_colors.css';
@import '../../styles/_fontSizes.css';

.presentation {
  width: 100%;
  text-align: center;
  padding: 5rem 1rem 1rem;
  background: var(--background-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.presentation__title {
  font-size: var(--font-large-size);
  color: var(--font-primary-color);
}

.presentation__text {
  width: 50%;
  font-size: var(--font-regular-size);
  color: var(--font-primary-color);
}

@media (max-width: 600px) {
  .presentation__title {
    font-size: var(--font-regular-size);
  }

  .presentation__text {
    width: 75%;
    font-size: var(--font-small-size);
  }
}
