:root {
  /* BACKGROUND  */
  --background-primary-color: #fcfcfc;
  --background-secondary-color: #c5c5fe;
  --background-tertiary-color: #aeebdd;
  --background-tertiary-color-alt: #aeebdd52;

  /* BUTTONS */
  --background-btn-color: #c5c5fe;

  /* FONT */
  --font-primary-color: #111111;
  --font-secondary-color: #c5c5fe;
  --font-tertiary-color: #aeebdd;
}
